body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
  color: #434455;
  background-color: #fcfcfc;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: currentColor;
  font-style: normal;
}

.page-header {
  background-color: #ffffff;
}

.page-header .page-link {
  font-weight: 500;
  color: #2e2f42;
}

.black-logo-main,
.white-logo-main {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.48px;
  text-transform: uppercase;
}

.black-logo-main {
  color: #2e2f42;
}

.web-part-logo {
  color: #4d5ae5;
}

.link-list a:hover,
.link-list a:focus {
  color: #404bbf;
}

.studio-link a:active {
  color: #404bbf;
}

.order-service,
.page-footer {
  background-color: #2e2f42;
}

.order-service .page-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  color: #ffffff;
  text-transform: capitalize;
  text-align: center;
}

.title-for {
  text-transform: none;
}

.order-button {
  background-color: #4d5ae5;
  color: #ffffff;
  text-align: center;
  text-transform: capitalize;
  font-weight: 500;
  letter-spacing: 0.64px;
  cursor: pointer;
}

.feature-name,
.member-name,
.project-name {
  font-weight: 500;
  font-size: 20px;
  color: #2e2f42;
}

.studio-features p,
.feature-title,
.project-name,
.project-type {
  text-align: left;
}

.team-members {
  background-color: #f4f4fd;
}

.team-heading,
.projects-heading {
  text-align: center;
  font-weight: 800;
  font-size: 36px;
}

.member-name,
.team-members p {
  text-align: center;
}

.white-logo-main {
  color: #f4f4fd;
}

.advice {
  color: #f4f4fd;
  text-align: left;
}

.team-members li {
  background-color: #ffffff;
}
