body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  background-color: #ffffff;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: currentColor;
  font-style: normal;
}

.page-header .page-link {
  font-weight: 500;
  color: #2e2f42;
}

.logo-main {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.48px;
  text-transform: uppercase;
  color: #4d5ae5;
}

.studio-black-logo {
  color: #2e2f42;
}

.link-list {
  font-style: normal;
}

.link-list a:hover,
.link-list a:focus {
  color: #404bbf;
}

.studio-link a:active {
  color: #404bbf;
}

.order-service,
.page-footer {
  background-color: #2e2f42;
}

.order-service .page-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  color: #ffffff;
  text-transform: capitalize;
  text-align: center;
}

.title-for {
  text-transform: none;
}

.order-button {
  background-color: #4d5ae5;
  color: #ffffff;
  text-align: center;
  text-transform: capitalize;
  font-weight: 500;
  letter-spacing: 0.64px;
  cursor: pointer;
  line-height: 1.5;
}

.order-button:hover,
.order-button:focus {
  background-color: #404bbf;
}

.feature-name,
.member-name,
.project-name {
  font-weight: 500;
  font-size: 20px;
  color: #2e2f42;
}

.feature-description,
.feature-title,
.project-name,
.project-type {
  text-align: left;
  line-height: 1.2;
}

.team-members {
  background-color: #f4f4fd;
}

.photo-base {
  background-color: #ffffff;
}

.feature-title,
.team-title,
.projects-title {
  color: #2e2f42;
  text-align: center;
  font-weight: 800;
  font-size: 36px;
  line-height: 1.11;
  text-transform: capitalize;
}

.member-name,
.job-position {
  text-align: center;
  font-size: 16px;
}

.studio-white-logo {
  color: #f4f4fd;
}

.advice {
  color: #f4f4fd;
  text-align: left;
}
